@font-face {
  font-family: 'Roboto-Medium';
  src: url('../fonts/Roboto-Medium.woff2') format('woff2'),
  url('../fonts/Roboto-Medium.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular.woff2') format('woff2'),
  url('../fonts/Roboto-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

$brand-1:                      #ff9c24;
$brand-white:                  #ffffff;
$brand-black:                  #000000;
$text-color:                   #3d3d3d;
$dropdown-bg:                  #f2f2f2;
$background-bg:                rgba(0, 0, 0, 0.7);
$border-color:                 #c2c2c2;

$screen-xs-max:                 480px;
$screen-sm-max:                 768px;
$screen-md-max:                 1024px;
$screen-lg-max:                 1200px;

$container-max-width:           1264px;

*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto-Regular', sans-serif;
  font-weight: 400;
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.ozitag {
  min-height: 100vh;

  &__content {
    padding-top: 2rem;

    p {

      &:not(:last-child) {
        margin-bottom: 1rem;
      }
    }
  }

  &__nav {
    font-family: 'Roboto-Medium', sans-serif;
    font-weight: 500;
    background-color: $brand-white;
    border-bottom: 1px solid $border-color;
    box-shadow: 0 0px 15px -1px grey;

    ul {
      list-style: none;
    }

    a {
      text-decoration: none;
      color: $text-color;
    }
  }

  &__navwrap {
    display: flex;
    min-height: 68px;
    align-items: center;
    position: relative;
  }

  &__navlist {
    display: flex;
    align-items: center;
  }

  &__navitem {
    padding: 1rem 1.5rem 2rem;
    font-size: 16px;

    &:hover {

      .ozitag__link {

        &:after {
          width: 100%;
          left: 0;
        }
      }
    }

    &:first-child {
      padding-left: 3rem;
    }

    &.dropdown {

      >.ul-drop {
        display: none;
        opacity: 0;
        background-color: $dropdown-bg;
        padding: 1.5rem 2rem 2rem;
        position: absolute;
        top: 68px;
        left: 0;
        width: 100%;
        max-height: 0;

        a {
          transition: all .1s ease-in;

          &:hover {
            color: $brand-1;
          }
        }

        >li {
          padding: 0 3rem;
          font-size: 18px;

          &:first-child {
            padding-left: 0;
          }

          &:last-child {
            padding-right: 0;
          }

          >.ul-drop {
            padding-top: 1rem;

            li {
              font-size: 15px;
              margin-bottom: 0.7rem;
            }
          }
        }
      }

      .wrap {
        position: relative;
        display: block;

        .fas {
          position: absolute;
          top: 10px;
          right: 10px;
          transform: translateY(-50%);
          transition: transform .2s ease-in-out;
          cursor: pointer;
          display: none;
        }
      }

      &:hover {

        >.ul-drop {
          max-height: 1000px;
          opacity: 1;
          display: flex;
        }

        .bg {
          opacity: 1;
          width: 100vw;
        }
      }
    }

    .ozitag__link {
      position: relative;
      padding: 1rem 0 2rem;

      &:after {
        background: none repeat scroll 0 0 $brand-1;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
    }

    .bg {
      opacity: 0;
      position: fixed;
      z-index: -1;
      top: 0;
      transition: opacity .2s ease-in-out;
      left: 0;
      width: 0;
      height: 100vh;
      background-color: $background-bg;
    }
  }

  &__burger {
    z-index: 10;
    padding-right: 1rem;
    display: none;
    cursor: pointer;
    align-items: center;
    height: 64px;
    width: 100%;
    justify-content: flex-end;

    &.active {
      border-bottom: 1px solid $border-color;

      .ozitag__burger-icon {
        background-color: transparent;

        &:before {
          background-color: $brand-1;
          transform: translateY(0) rotate(-45deg);
        }

        &:after {
          background-color: $brand-1;
          transform: translateY(0) rotate(45deg);
        }
      }
    }

    &-icon {
      position: relative;
      width: 1.6rem;
      height: 4px;
      background-color: $brand-black;
      transition: all .25s ease-in-out;

      &:before,
      &:after {
        content: '';
        position: absolute;
        width: inherit;
        height: inherit;
        background-color: $brand-black;
        left: 0;
        transition: all .25s ease-in-out;
      }

      &:before {
        transform: translateY(-8px);
      }

      &:after {
        transform: translateY(8px);
      }
    }
  }
  
  @media (max-width: $screen-md-max) {

    &.bg-res {
      background-color: $background-bg;
      transition: background-color .2s ease-in-out;
    }

    &__navwrap {
      justify-content: flex-end;
      flex-direction: column;
      position: relative;
      border-bottom: 1px solid $border-color;
      box-shadow: 0 0 15px -1px grey;
    }

    &__navlist {
      order: 2;
      display: block;
      opacity: 0;
      position: static;
      background-color: $brand-white;
      overflow-y: auto;
      overflow-x: hidden;
      justify-content: flex-end;
      top: 68px;
      left: 0;
      width: 100%;
      transition: max-height .2s ease-in-out;
      max-height: 0;
      
      &.show {
        opacity: 1;
        max-height: 100vh;
        overflow: auto;
      }
    }

    .ul-drop {
      transition: transform .3s;

      .wrap {
        padding-left: 1.5rem;

        .fas {
          display: block;
          font-size: 19px;
          transition: transform .2s ease-in-out;
        }
      }

      li {
        border-top: 1px solid #c2c2c2;

        &:last-child {
          border-bottom: 1px solid #c2c2c2;
        }

        &.active {
          padding-bottom: 0;

          .wrap {

            &.up {

              .js-icon-drop {
                transform: translateY(-50%) rotate(180deg);
              }
            }
          }

          > .wrap {
            padding-bottom: 1rem;
          }
        }

        &.item-3 {
          padding-left: 3rem;
          font-size: 16px;
          margin-bottom: 0;

          &:last-child {
            border-bottom: none;
          }
        }
      }

      .ozitag__navitem {
        border: none;

        &:last-child {
          border: none;
        }
      }
    }

    &__navitem {
      padding: 1rem 1.5rem;
      border: none;

      &:hover {

        .ozitag__link {

          &:after {
            width: 0;
          }
        }
      }

      &:first-child {
        padding-left: 1.5rem;
      }

      &.dropdown,
      &.dropdown:hover {
        padding: 1rem 0;
        border: none;
        
        .ul-drop {
          padding: 0;
          display: block;
          position: unset;
          max-height: 0;
          opacity: 0;
          transition: max-height .2s;

          &.opened {
            opacity: 1;
            max-height: 1200px;

            >li {
              padding: 1rem 0 1rem 1.5rem;
              opacity: 1;
              max-height: 1000px;
            }
          }

          li {
            font-size: 16px;
            opacity: 0;
            max-height: 0;
            transition: max-height .2s;

            &:first-child {
              padding-left: 1.5rem;
            }
          }

          > li {
            background-color: $dropdown-bg;
            padding: 0;

            &.dropdown {
              padding-left: 0;
            }

            &.active {
              padding-bottom: 0;
            }

            .ul-drop {
              padding: 0;

              li {
                //font-size: 16px;
                padding-left: 3rem;
                margin-bottom: 0;
              }
            }
          }
        }

        .ozitag__link {
          padding: 0;
          transition: all .2s ease-in;

          &:hover {
            color: $brand-1;
          }

          &:after {
            display: none;
          }
        }
      }

      .bg {
        display: none;
      }
    }

    &__link {
      transition: all .2s ease-in;

      &:hover {
        color: $brand-1;
      }
    }

    &__burger {
      display: flex;
    }
  }
}